name: 'Test Unit C++'
description: |
  This workflow runs the unit tests.

on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string

jobs:
  test-unit-cpp:
    name: 'Test Unit C++'
    runs-on: ubuntu-latest
    env:
      SERIAL_TEST_PORT_IN: /tmp/ttyCI_IN
      SERIAL_TEST_PORT_OUT: /tmp/ttyCI_OUT
      TEST_REPORT_NAME: 'test_report.xml'

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
      
      - name: 'Download artifact'
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: 'artifacts'

      - name: 'Install test dependencies'
        run: |
          sudo apt-get install -y socat

      - name: Start virtual serial echo (socat)
        run: |
          socat -d -d pty,raw,echo=0,link=$SERIAL_TEST_PORT_IN,mode=666 pty,raw,echo=0,link=$SERIAL_TEST_PORT_OUT,mode=666 &
          sleep 2
          stdbuf -i0 -o0 cat < $SERIAL_TEST_PORT_OUT > $SERIAL_TEST_PORT_OUT &
          sleep 1

      - name: 'Run tests'
        working-directory: 'artifacts'
        env:
          LD_LIBRARY_PATH: '${{ github.workspace }}/artifacts'
          SERIAL_TEST_PORT: '${{ env.SERIAL_TEST_PORT_IN }}'

        run: |
          chmod +x ./cpp_bindings_linux_tests

          ./cpp_bindings_linux_tests \
            --gtest_color=yes \
            --gtest_output=xml:$TEST_REPORT_NAME
      
      - name: 'Upload test report'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: 'test_reports'
          path: 'artifacts/${{ env.TEST_REPORT_NAME }}'
      
      - name: 'Publish test report'
        if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: 'artifacts/${{ env.TEST_REPORT_NAME }}'
          detailed_summary: true
          group_suite: true
          include_passed: true
          annotate_notice: true
          transformers: '[{"searchValue":"/home/runner/work/cpp-bindings-linux","replaceValue":""}]'



